#wrapper {
  text-align: center;
  /* width: 100%;
  height: 100%; */
  background-image: url('../assets/backimage.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  font-size: 50px;
  color: blue;
}
/* #app {
  width: 800px;
  height: 1200px;
  background-color: #0f0f0f;
  border: solid 2px #a9a9a9;
} */
#next {
  font-family: monospace;
  font-size: 30px;
  color: darkturquoise;
}
.column {
  display: inline-block;
  background-color: #000;
}
.block {
  width: 100px;
  height: 100px;
  background-color: #000;
}
